/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Nunito:wght@600&display=swap');

/* Setting global styles for the body */
body{
    margin: 0;
    padding: 0;
    height: 100%; /* Setting the body height to 100% */
    font-family: 'Big Shoulders Display', cursive; /* Applying custom font */
    text-align: center; /* Centering text content */
}

/* Styling for h1 elements */
h1 {    
    font-weight: 900; /* Setting font weight to bold */
    font-size: 1.9em; /* Setting font size */
}

/* Styling for location input */
#location-input {    
    padding: 10px; /* Adding padding */
    font-size: 16px; /* Setting font size */
}

/* Styling for weather info section */
#weather-info {    
    margin-top: 20px; /* Adding top margin */
}

/* Styling for temperature */
#temperature {    
    font-size: 20px; /* Setting font size */
}

/* Styling for time */
#time {    
    margin-top: 20px; /* Adding top margin */
    font-size: 20px; /* Setting font size */
}

/* Styling for h2 elements */
h2 {    
    font-weight: 700; /* Setting font weight to bold */
    font-size: 1.7em; /* Setting font size */
}

/* Styling for p elements */
p {    
    font-weight: 100; /* Setting font weight */
    font-size: 1.1em; /* Setting font size */
}

/* Styling for main section */
main {    
    width: 100%; /* Setting main width to 100% */
}

/* Styling for section elements */
section {
    padding: 1em; /* Adding padding */
}

/* Styling for footer */
footer {
    text-align: center; /* Centering text content */
    position: absolute; /* Positioning the footer */
    left: 0; /* Aligning to the left */
    bottom: 0; /* Aligning to the bottom */
    right: 0; /* Aligning to the right */
}

/* Styling for background video */
.bg_video{
    position: fixed; /* Positioning the video */
    top: 0; /* Aligning to the top */
    left: 0; /* Aligning to the left */
    bottom: 0; /* Aligning to the bottom */
    object-fit: cover; /* Ensuring video covers the entire container */
    min-width: 100%; /* Setting minimum width */
    min-height: 100%; /* Setting minimum height */
    width: 100%; /* Setting width to 100% */
    height: 100%; /* Setting height to 100% */
    z-index: -10000; /* Setting z-index to ensure video is at the bottom */
    background: url(../video/weather.mp4) no-repeat center; /* Setting background image */
    background-size: cover; /* Ensuring background covers the container */
    opacity: 0.8; /* Setting opacity */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adding text shadow */
    filter: brightness(130%) contrast(70%); /* Adjusting brightness and contrast */
}

